<div class="clear"></div>
<!-- End .clear -->

<div id="article" class="box box-100">
  <div class="boxin">
    <div class="header">
      <h3>Create New Article</h3>
    </div>
    <div id="editing" class="contentAlt">
      <%= render "form" %>
    </div>
  </div>
</div>
